<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/util
 http://www.springframework.org/schema/util/spring-util.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Scan all the package name start with com.springmvc -->
	<context:component-scan
		base-package="com.springmvc" />


	<!-- Enable Transection -->
	<tx:annotation-driven/>


	<!-- DriverManagerDataSource -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/shubh" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- localSessionFactoryBean -->
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="factory">
		<!-- DataSource -->
		<property name="dataSource" ref="ds" />
		<!-- HibenrateProperties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>  <!-- If we set the true here then show all the query in console -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<!-- AnnotatedClasses -->
		<property name="annotatedClasses">
			<list>
				<value>
					com.springmvc.entity.User
				</value>
			</list>
		</property>
	</bean>

	<!-- HibernateTemplate -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate">
		<!-- SessionFactory -->
		<property name="sessionFactory" ref="factory" />
	</bean>


	<!-- HibernateTransectionManager -->
	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">
		<property name="sessionFactory" ref="factory" />
	</bean>

<!-- For spring Mvc -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		name="viewResolver">

		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />

	</bean>


</beans>